<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Your contact provider</p>
        <div class="container">
            <div class="grid-container">
                <div class="grid-item">
                </div>
                <div class="grid-item">
                    <a href="#" id="load_gmail_contact_btn" type="button" class="btn btn-tool" title="Load contact" data-toggle="modal" data-xtarget="#modal-full" data-body="{{ path('app_load_contact') }}">
                        <div class="d-flex flex-column">
                            <div>
                                <img class="provider"
                                     src="https://www.pngmart.com/files/16/Gmail-Logo-PNG-Photos.png">
                            </div>
                            <div>
                                <h5>Gmail</h5>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="grid-item">
                </div>
                <div class="grid-item">
                </div>
                <div class="grid-item">
                </div>
                <div class="grid-item">
                </div>
            </div>
        </div>
    </div>
    <!-- /.login-card-body -->
</div>
