{% extends 'common/grid.html.twig' %}
{% block item_2 %}
    <a href="#" id="create_org_btn" type="button" class="btn btn-tool" title="create org" data-toggle="modal" data-xtarget="#modal-default" data-body="{{ path('create_org') }}">
        <div class="d-flex flex-column">
            <div>
                <img class="provider" src="{{ asset('/appImg/workspace.png') }}">
            </div>
            <div>
                <h5>create your Workspace</h5>
            </div>
        </div>

    </a>
{% endblock %}
